@import "src/styles/abstracts/mixins";

.mainContainer {
  //background-color: #87cefa;
  padding: 50px 100px;
  position: absolute;
  z-index: 1;

  span {
    display: flex;
    gap: 50px;
    @include useInter(600, 30px, 40px);

    .link {
      text-decoration: none;
      color: black;
      cursor: pointer;
      transition: all ease 0.2s 0s;

      &:hover {
        border-bottom: 2px solid blue;
        color: blue;
      }
    }
  }
}