@import "src/styles/abstracts/mixins";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 150px 100px 0;

  position: relative;

  h1 {
    @include useInter(600, 45px, 60px);
    color: blue;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;

    .countModal {
      position: fixed;
      width: 500px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      padding: 50px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 2;

      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;

      box-shadow: 0 0 210px 80px #808080;
      border: 2px solid black;
      border-radius: 30px;
      background-color: white;

      .countBlock {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

        .countButton {
          border-radius: 20px;
          background-color: white;
          border: 1px solid black;
          @include useInter(400, 20px, 25px);

          &:hover {
            background-color: blue;
            color: white;
            border-color: blue;
          }
        }
      }

      .addInCartButton {
        border-radius: 20px;
        height: 48px;
        width: max-content;
        background-color: white;
        border: 1px solid black;
        @include useInter(400, 20px, 25px);
        padding: 10px;

        &:hover {
          background-color: blue;
          color: white;
          border-color: blue;
        }
      }

      .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;

        border-radius: 20px;
        background-color: white;
        border: 1px solid black;
        @include useInter(400, 20px, 25px);

        &:hover {
          background-color: blue;
          color: white;
          border-color: blue;
        }
      }

      p {
        @include useInter(400, 20px, 35px);
      }
    }
  }

  .emptyList {
    display: flex;

    p {
      @include useInter(400, 20px, 35px);

      a {
        text-decoration: none;
      }
    }
  }
}