@import "src/styles/abstracts/mixins";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 150px 100px 0;

  h1 {
    display: flex;
    justify-content: center;
    color: blue;
    @include useInter(600, 45px, 60px);
  }

  .order {
    p {
      @include useInter(400, 20px, 35px);
    }

    .buyButton {
      border-radius: 20px;
      height: 48px;
      width: max-content;
      background-color: white;
      border: 1px solid black;
      @include useInter(400, 20px, 25px);
      padding: 10px;

      &:hover {
        background-color: blue;
        color: white;
        border-color: blue;
      }
    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
  }

  .emptyList {
    display: flex;
    justify-content: center;

    p {
      @include useInter(400, 20px, 35px);

      a {
        text-decoration: none;
      }
    }
  }
}